* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  border-top: 0;
}

header {
  width: 85%;
  height: 100px;
  display: flex;
  cursor: pointer;
  background: rgba(209, 222, 221, 0.5);
  backdrop-filter: blur(53px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0px 0px 44px 0px;
  padding: 16px;
  margin-bottom: auto;
}

.logo {
  position: relative;
  width: 203px;
  height: 98px;
  background: url(imagenes/Ed_logo_rectangle.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 13px;
  display: flex;
  
}

#menu {
  margin-left: auto;
}
#menu ul li {
  display: inline-block;
  position: relative;
  width: 280px;
  height: 98px;
}

#menu ul li a {
  display: inline-block;
  bottom: 16.67%;
  line-height: 100px;
}

#menu ul li input {
  display: inline-flexbox;
  position: relative;
  width: 91.13px;
  height: 13.88px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  border: none;
  background: none;
  top: 3px;
  right: 5%;
}

#menu cambiar {
  display: inline-flexbox;
  position: relative;
  width: 43px;
  height: 13.88px;
  left: 1304.85px;
  top: 74.99px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
/* identical to box height */

  text-decoration-line: underline;

  color: #0029FF;
}

#menu ul li a:hover {
  background: #47c2a5;
}

body {
  background: rgb(64, 224, 208, 70%) url("./imagenes/imgback3.png") fixed no-repeat;
  background-position: center;
  background-size: cover;
}


.container-form {
  max-width: 85%;
  padding: 3.3%;
  position: relative;
  display: inline-flexbox;
  justify-content: center;
  text-align: center;
  width: 1024px;
  height: 711px;
  left: 208px;
  top: 230px;
  background: rgba(185, 185, 185, 0.3);
  border: 2px solid rgba(185, 185, 185, 0.3);
  backdrop-filter: blur(8.5px);
/* Note: backdrop-filter has minimal browser support */

  border-radius: 40px;
}



input {
  display: inline-flexbox;
  text-align: center;
  border-radius: 8px;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  width: 80%;
  margin: auto;
}

label{
  width: 100%;
  display: block;
  text-align: center;
}

#input-tittle {
  
  height: 54px;
  border-radius: 31px;
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;

  color: #000000;
  
}

#input-URL {
  box-sizing: border-box;
  height: 55.17px;
  border: 1px solid #000000;
  border-radius: 33px;
  margin-top: 36px;
  margin-bottom: 36px;
  background: #E0F5F6;
  max-width: 682px;
  
}

#input-description {
  border-radius: 31px;
  font-style: normal;
  height: 124px;
  margin-top: 26px;
  max-width: 682px;
  background: #E0F5F6;
  border-radius: 31px;
  display: inline-block;
}

#input-name {
  display: block;
  height: 24px;
  border-radius: 8px;
  font-style: italic;
  margin-top: 67px;
  max-width: 365.65px;
  background: #E0F5F6;
  border-radius: 31px;
}

#input-email {
  height: 23.92px;
  border-radius: 8px;
  font-style: italic;
  margin-top: 48px;
  max-width: 365.65px;
  background: #E0F5F6;
  border-radius: 31px;
}

/* Rectangle 36 */

/* Botón Crear y Cancelar */

button {
  position: relative;
  width: 85px;
  height: 20px;
  background: turquoise;
  border-radius: 27px;
  box-shadow: #1a1b1b;
  margin-inline: 25px;
}

.container-form-button{
  margin-top: 100px;
}






/* Barra de Navegación*/

.icon-bar {
  position: absolute;
  height: 120%;
  width: 100px;
  background-color: rgba(185, 185, 185, 0.3);
  top: 180px;
  
}

/* Iconos de la barra de navegación*/

.icon-bar a {
  display: flex;
  text-align: center;
  padding: 25px;
  color: #1a1b1b;
  
}

/* Color al pasar el mouse por iconos de navegación*/

.icon-bar a:hover {
  background-color: #e9f5f4;
}

/* Dos últimos iconos de la barra de navegación*/

.ajustes {
   margin-top: 150px;
}

@media screen and (min-width:400px) and (max-width: 1024px){ 

  .container-form{
    width: 35%;
    height: auto;
    grid-auto-flow: auto;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 2%;
    text-align: center;

    

  }

  input{
    width:auto;
    grid-auto-flow: auto;

  }

  #input-tittle{
    width:auto;
    grid-auto-flow: auto;
    display: block;
    font-size: 18px ;
    text-align: center;
  }

  #input-URL{
    width:auto;
    grid-auto-flow: auto;
    top: auto;

}
}

  
