<<<<<<< HEAD
*{margin: 0;padding:0; box-sizing:border-box; border: 0;
;}
=======
*{margin: 0;padding:0; box-sizing: 0; border-top: 0}

>>>>>>> fdef6e89fbe61cab6b4acd2d5700df6055b98ab7
body{
background-image: url("imagenes/imgback3.png");
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;
}

.menu {
  list-style: none;
  padding: 0 ;
  margin: 0;
  display: flex;
  margin: auto;

}
{
  /* Ed_logo_rectangle 1 */


position: absolute;
width: 203.75px;
height: 98.26px;
left: 15.76px;
top: 16.24px;

background: url(Ed_logo_rectangle);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 13px;
}
{
  /* Rectangle 1 */


position: absolute;
width: 255.97px;
height: 36.31px;
left: 584.03px;
top: 101.07px;

background: rgba(70, 202, 172, 0.58);
border-radius: 27px;
transform: matrix(1, 0, 0, -1, 0, 0);
}

input {
  text-align: center;
  border-radius: none;
}

#input-tittle {
  position: absolute;
  width: 470px;
  height: 54px;
  left: 485px;
  top: 272px;

background: #E0F5F6;
border-radius: 31px;
font-family: 'Oxanium';
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 40px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

color: #000000;
}

#input-URL {
  box-sizing: border-box;
  position: absolute;
  width: 878.46px;
  height: 55.17px;
  left: 267px;
  top: 362.92px;

  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 33px;

  font-style: italic;
}

#input-description {
  position: absolute;
  width: 682px;
  height: 124px;
  left: 380px;
  top: 501px;

  background: #E0F5F6;
  border-radius: 31px;
}

#input-name {
  position: absolute;
  width: 365.65px;
  height: 23.92px;
  left: 529px;
  top: 692.62px;

  background: #E0F5F6;
  border-radius: 8px;

  font-style: italic;

}

#input-email {
  position: absolute;
  width: 365.65px;
  height: 23.92px;
  left: 525.29px;
  top: 764.19px;

  background: #E0F5F6;
  border-radius: 8px;
  
  font-style: italic;
}

/* Rectangle 36 */

/* Botón Crear y Cancelar */

button {
  position: relative;
  width: 85px;
  height: 20px;
<<<<<<< HEAD
  left: -400x;
  top: 830px;
  
=======
  left: -300x;
  top: -530px;  
>>>>>>> fdef6e89fbe61cab6b4acd2d5700df6055b98ab7

  background: turquoise;
  border-radius: 27px;
  margin-left: 600px;
  margin-right:-540px;

}

/* Título Descripcion del video */

h1 { 
  position: absolute;
  width: 220px;
  height: 23px;
  left: 615px;
  top: 452px;

  font-family: "oxanium" ;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

}

/* Barra de Navegación*/

.icon-bar {
     
position: absolute;
width: 100px;
height: 800px;
left: 5px;
top: 190px;
background-color: #D1DEDD;
opacity: 500%;

}

/* Iconos de la barra de navegación*/

.icon-bar a {
  display: block;
  text-align: center;
  padding: 15px;
  transition: all 0.3s ease;
  color: #1A1B1B;
  font-size: 45px;
  
}

<<<<<<< HEAD
{
  /* Rectangle 90 */
=======
/* Color al pasar el mouse por iconos de navegación*/

.icon-bar a:hover {
    background-color: #E9F5F4 ; 
}


/* Dos últimos iconos de la barra de navegación*/

.ajustes {
  float: top;
  margin-top: 270px;
}

>>>>>>> fdef6e89fbe61cab6b4acd2d5700df6055b98ab7


position: absolute;
width: 1024px;
height: 711px;
left: 208px;
top: 230px;

background: rgba(185, 185, 185, 0.3);
border: 2px solid rgba(185, 185, 185, 0.3);
backdrop-filter: blur(8.5px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 40px;
}

{/* Rectangle 38 */


position: absolute;
width: 1457px;
height: 157px;
left: -17px;
top: -19px;

background: rgba(209, 222, 221, 0.5);
backdrop-filter: blur(53px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 0px 0px 44px 0px;
}