*{margin: 0;padding:0; box-sizing: 0; border-top: 0}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  header{
    position: absolute;
    width: 1457px;
    height: 157px;
    left: -17px;
    top: -19px;
    display: flex;
    cursor: pointer;
    background: rgba(209, 222, 221, 0.5);
    backdrop-filter: blur(53px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 0px 0px 44px 0px;
  }
  
  .logo {
  position: relative;
  width: 203.75px;
  height: 98.26px;
  left: 15.76px;
  top: 16.24px;
  
  background: url(imagenes/Ed_logo_rectangle.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 13px;
  }
  
  #menu{
    margin-left: auto;
  }
  #menu ul li{
    display: inline-block;
  }
  
  #menu ul li a {
    display: inline-block;
    position: relative;
    left: 8.33%;
    right: 8.33%;
    top: center;
    bottom: 16.67%;
    line-height: 100px;
    }
  
  #menu ul li input {
    position: relative;
    width: 91.13px;
    height: 13.88px;
    left: 1259.79px;
    top: 54.69px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
  /* identical to box height */
  color: #000000;
  }
  
  #menu ul li a:hover {
    background: #47C2A5;
  
  }

  body{
  background: rgb(64, 224, 208,70%) url("style/imgback3.png") fixed scroll no-repeat
  ;
}

input {
  text-align: center;
  border-radius: none;
}

#input-tittle {
  position: absolute;
  width: 470px;
  height: 54px;
  left: 485px;
  top: 272px;

background: #E0F5F6;
border-radius: 31px;
font-family: 'Oxanium';
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 40px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

color: #000000;
}

#input-URL {
  box-sizing: border-box;
  position: absolute;
  width: 878.46px;
  height: 55.17px;
  left: 267px;
  top: 362.92px;

  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 33px;

  font-style: italic;
}

#input-description {
  position: absolute;
  width: 682px;
  height: 124px;
  left: 380px;
  top: 501px;

  background: #E0F5F6;
  border-radius: 31px;
}

#input-name {
  position: absolute;
  width: 365.65px;
  height: 23.92px;
  left: 529px;
  top: 692.62px;

  background: #E0F5F6;
  border-radius: 8px;

  font-style: italic;

}

#input-email {
  position: absolute;
  width: 365.65px;
  height: 23.92px;
  left: 525.29px;
  top: 764.19px;

  background: #E0F5F6;
  border-radius: 8px;
  
  font-style: italic;
}

/* Rectangle 36 */

/* Botón Crear y Cancelar */

button {
  position: relative;
  width: 85px;
  height: 20px;
  left: -300x;
  top: -530px;  

  background: turquoise;
  border-radius: 27px;
  margin-left: 600px;
  margin-right:-540px;

}

/* Título Descripcion del video */

h1 { 
  position: absolute;
  width: 220px;
  height: 23px;
  left: 615px;
  top: 452px;

  font-family: "oxanium" ;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

}

/* Barra de Navegación*/

.icon-bar {
     
position: absolute;
width: 100px;
height: 800px;
left: 5px;
top: 190px;
background-color: #D1DEDD;
opacity: 500%;

}

/* Iconos de la barra de navegación*/

.icon-bar a {
  display: block;
  text-align: center;
  padding: 15px;
  transition: all 0.3s ease;
  color: #1A1B1B;
  font-size: 45px;
  
}

/* Color al pasar el mouse por iconos de navegación*/

.icon-bar a:hover {
    background-color: #E9F5F4 ; 
}


/* Dos últimos iconos de la barra de navegación*/

.ajustes {
  float: top;
  margin-top: 270px;
}


