*{
    padding: 0px;
    margin: 0px;
}

body{
    text-align: center;
}

.container-form {
    width: 40%;
    height: 50%;
    background-color: rgb(219, 215, 215);
    text-align: center;
    align-items: center;
    border: 20px solid #26F1c6;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px; 
    padding-bottom: 1%; 

}

.logoedv {
    width: 25%;
    height: 23%;
    margin-top: 10px;
}


div input{
    margin-top: 8%;
    background: #B3A8A8;
    border: 1px solid #000000;
    
  
}

.salir {
    margin: 7%;
    width: 9%;
    height: 5%;
    right: 13%;
    border-radius: 40%;
    border-color:#000000;
    border: 0.77px solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;
    text-decoration: none;
    text-align: center;
    position: relative;
    background-color: #CFF1E1;
    padding: 7px;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
}

div button{
    margin: 7%;
    width: 9%;
    height: 5%;
    right: 7px;
    border-radius: 10px;
    left: 45%;
    font-size: 19px;
}

#email{
    border-radius: 5px;
    width: 55%;
    height: 8%;
    text-align: center;
    font-size: 19px;
}


.fondo{
    background-image: url(../CSS/imagenes/fondoweb.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: sans-serif;
    margin: 0px;
    padding-right: 4%;
    padding-left: 2%;
    padding-top: 2%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 5%;
}

.header-logo{
    width: 8%;
    height: 8%;
    left: 3.19%;
    right: 84.31%;
    bottom: 88.28%;
}

header button{
    border-radius: 20.64px;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration: underline none;
    width: 94px;
    height: 42px;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}

.exit{
    width: 7.5px;
    height: 8.5px;
    text-align:center;
    
}

h2{
    text-align: center;
    font-size: 32px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 2%;
    top: 3%;
}

.urlvideo{
    width: 40%;
    margin: 0%;
    padding: 3px;
    margin-top: 3%;
    border-radius: 22px;
    border-color: black;
    background-color: white;
    font-size: 24px;
    text-align: center;
}

.check-circle{
    width: 3%;
    height: 3%;
    margin-top: 3%;
    
}
.posicion-calificaciones{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
   
}

.contenedor-calificaciones{
    background-color: rgba(37, 219, 225,0.6) ;
    width: 50%;
    height: 42%;
    border-radius: 33.44px;
    position: absolute;
    bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
}


.input-check{
    display: flex;
    align-items: center;
    justify-content: center;
}

.estrellas {
    height: 17%;
    background-color: linear-gradient(269.92deg, rgba(0, 255, 200, 0) -8.14%, rgba(64, 115, 104, 0.26) 50.51%, rgba(0, 255, 200, 0) 109.31%); ;
}

.margin-promedio{
    margin: 3%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;
}

textarea{
    padding: 0.5%;
    margin-bottom: 3%;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input-range{
    width: 60%;
    border-radius: 20px;
    -webkit-appearance: none ;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3) inset;
    height: 30.12px;
    left: 377px;
    bottom: 25px;
    background: linear-gradient(270deg, rgba(37, 199, 34, 0.8) 0%, rgba(255, 151, 2, 0.8) 51.97%, rgba(255, 15, 15, 0.8) 95.04%);
    border-radius: 20px;
}

.fonDoc {

    background-color: white;

}

.elProf {
    background: linear-gradient(180deg, #25F3C2 0%, #25D9E3 100%);
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    align-items: center;
    width: 74%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2%;
    padding-right: 2%;

}

.Bienve{
    padding: 2%;
    text-align: center;
    align-content: center;
    align-items: center;
    
}

.Nombre-Alumno {
    font-size: 25px;
}

.link-container{
    width: 66%;
    height: 70%;
    background: linear-gradient( #25F1C5 6.6%, #25DBE1 55%);
    backdrop-filter: blur(2.61563px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    align-items: center;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.ProfContainer{
    width: 60%;
    height: 30%;
    background: linear-gradient( #25F1C5 6.6%, #25DBE1 55%);
    backdrop-filter: blur(2.61563px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    align-items:center;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 3%;
    margin-bottom: 3%;
}

.reproductor{
    position: absolute;
    left: 4%;
    display: inline;
    width: 45%;
    height: 55%;
    background-color: paleturquoise;
    backdrop-filter: blur 3px;
    text-align: center;
    align-items: center;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px;
    padding-bottom: 1%;
       
   
}

.play-video{
    width: 90%;
    height: 90%;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.textarea-prof{
    margin-top: 3%;
    background: paleturquoise ;
    position: relative;
    top: 90px;

}

.Habilidades{
    position: relative;
    left: 55%;
    width: 45%;
    height: 60%;
    background-color: paleturquoise;
    backdrop-filter: blur 3px;
    text-align: center;
    align-items: center;
    border-radius: 33px;
    padding-bottom:2%;
    
}

h6{
    font-size: 20px;
    text-align: left;
    padding-top: 3%;
    padding-left: 3%;
}

.guarde{
    background: paleturquoise;

}


@media screen and (max-width: 600px){ 
    
    .Habilidades{
        font-size: 12px;
    }
    h6{
        font-size: 14px;
    }

    .Nombre-Alumno{
        font-size: 14px;
    }

    h2{
        font-size: 16px;
    }
    .salir,
    .guarde {
        font-size: 10px;
    }


}
